.instrument-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.instrument-card {
  display: flexbox;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #ffffff;
}

.instrument-card__img {
  width: 94%;
  max-height: 370px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 25px;
}

.instrument-card h2 {
  font-size: 1.2rem;
  margin: 0 0 10px;
}

.instrument-card p {
  font-size: 0.9rem;
  margin: 0;
  color: #666;
}

.instrument-card a {
  display: inline-block;
  background-color: #130102;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.instrument-card a:hover {
  background-color: #838383;
}

.links {
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 40px;

}


.link {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  color: #212529;
  padding: -1px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.2s ease;
  margin: 21px;
}

.link:hover {
  background-color: #0d0d0d;
  color: white;
}

.links_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
}


/* ... your existing CSS styles ... */

.search-form {
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 0.9rem;
  width: 25%;
  padding: 10px;
  margin-left: 20px;
  margin-right: 0px;
}

.search-button {
  display: inline-block;
  background-color: #0b0b0b;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.search-button:hover {
  background-color:#838383;;
}

.page-title {
  font-size: 2rem;
  font-weight: 600;
  padding: 20px;
  text-align: inherit;
  color: #000000;
  font-family: monospace;;
}

// .text-show-page {
//   font-size: 16px;
//   font-weight: 600;
//   margin: 0;
//   padding: 0;
//   text-align: center;
//   color: #000000;
// }

// p {
//   font-size: 1rem;
//   font-weight: 400;
//   margin: 0;
//   padding: 0;
//   text-align: left;
//   color: #000000;
// }
