#h1-sesh {
  margin-left: 125px;
  font-weight: bold;
  font-style: italic;
  font-size: 60px;
}

.main-container-dash {
  display: flex;
  margin: 20px auto;
  max-width: 1200px;
  background-color: white;
  border: 2px solid black;
  height: 600px;
}

.left-container-dash {
  flex: 2;
  border-right: 2px solid black;
  padding: 20px;
}

.right-container-dash {
  flex: 1;
  padding: 20px;
}

.headers-bookings {
  display: flex;
  margin-bottom: 20px;
}

.headers-bookings button {
  flex: 1;
  height: 50px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.headers-bookings button:focus {
  background-color: white;
  color: black;
  border: 2px solid black;
}

[data-dashboard-target="content"] {
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  overflow-y: auto;
  height: calc(100% - 70px);
}

[data-dashboard-target="content"] div {
  padding: 10px 0;
}

hr {
  margin: 20px 0;
  border-top: 1px solid ;
}

.right-container-dash h2 {
  margin-bottom: 30px;
}

#container-manage {
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  overflow-y: auto;
  height: calc(100% - 70px);
}

.booking-container, .offer-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.booking-delete, .offer-delete {
  position: absolute;
  top: 5px;
  right: 5px;
}

.delete-button {
  text-decoration: none;
  background: none;
  border: none;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

.delete-button:hover {
  color: darkred;
}

.instrument-delete {
  position: absolute;
  top: 5px;
  right: 5px;
}

.instrument-container {
  position: relative;
  padding-right: 40px;
}

// scrollbar
[data-dashboard-target="content"]::-webkit-scrollbar,
#container-manage::-webkit-scrollbar {
  width: 10px;
}

[data-dashboard-target="content"]::-webkit-scrollbar-track,
#container-manage::-webkit-scrollbar-track {
  background: white;
}

[data-dashboard-target="content"]::-webkit-scrollbar-thumb,
#container-manage::-webkit-scrollbar-thumb {
  background: black;
}

[data-dashboard-target="content"]::-webkit-scrollbar-thumb:hover,
#container-manage::-webkit-scrollbar-thumb:hover {
  background: #555;
}
