.main-container {
  display: flex;
  justify-content: space-between;
}

.left-container-land, .right-container {
  width: 50%;
  overflow: hidden;
  box-sizing: border-box;
  padding-top:0px;
}

.right-container {
  background-color: black;
  margin-bottom: 0px;
  height: 703px
}

.right-container .carousel-landing {
  height: 100%;
}

#h1-main {
  font-style: italic;
  font-size: 250px;
  padding-left: 90px;
}

#search-city {
  background: none;
  border: none;
  outline: none;
  width: 100%;

  &:focus {
    background: white;
  }
}

#city-box {
  padding-left: 20px;
  border: solid 2px;
  width: 500px;
  height: 380px;
  margin-left: 90px;
  margin-right: 50px;
  padding-right: 20px;
  margin-bottom: 10px;
}

#city-box h2 {
  font-size: 65px;
  font-style: italic;
  border-bottom: solid 1.5px;
}

.city-item {
  text-decoration: none;
  font-size: 40px;
  color: black;

  &:hover {
    color: black;
  }

  &:active, &:visited {
    color: black;
  }
}

#city-list {
  max-height: 280px;
  overflow-y: auto;
}

/* Formatting scrollbar */

#city-list::-webkit-scrollbar {
  width: 10px;
}

#city-list::-webkit-scrollbar-track {
  background: white;
}

#city-list::-webkit-scrollbar-thumb {
  background: black;
}

#city-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// Carousel format

.carousel-inner-landing img {
  max-height: 700px;

}

.carousel-inner-landing img {
  width: 100%;
  height: 100%; /* will ensure it fills up the carousel container */
  object-fit: contain; /* ensures that the image is resized to fit, without stretching or cropping */
}
