.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  position: relative;
  z-index: 1000;
  padding: 0px;
  border-bottom: 1px solid black;
}

.navbar-logo{
  border-right: 1px solid black;
  padding: 15Px;
}

.nav-link {
  display: inline-block;
  padding: 15px 0;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  font-weight: 800;
  font-size: 24px;
  transition: color 0.3s ease; /* Add smooth transition for text color */
}

.nav-link:hover {
  color: blue; /* Change text color on hover */
}


.dropdown{
  display: flex;
  align-items: center;
}
