<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= @instrument.banner_url %>');">
  <div class="container">
    <h1><%= @instrument.name %></h1>
    <h2><%= @instrument.city %></h2>
  </div>
</div>
