<h1 class="mb-4">Add a New Instrument</h1>
<div class="container mt-5">
  <%= render 'form', instrument: @instrument %>
</div>

<%= link_to "Back to Instruments", instruments_path %>
<%= link_to "Back to dashboard", dashboard_path %>
